body {
  margin: 0;
  padding: 0;
  display: flex;
}
.left-side {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
}
.image {
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #eec0c8;
}
.name {
  color: white;
  text-shadow: 2px 2px 4px #333;
  font-size: 75px;
  font-family: "Antonio", sans-serif;
  margin-bottom: 20px;
}
.button {
  background-color: #848947;
  padding: 8px;
  border-radius: 15px;
  border: none;
  font-weight: 530;
}
.enterDish {
  border: none;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
}
.search-recipe {
  margin-top: 75px;
}
p {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}
